:root {
    --bg-color: #ece8e8;
    --color-primary: #ffc107;
    --color-secondary: #ff9800;
    --color-tertiary: #f44336;
    --color-quaternary: #9c27b0;
    --color-quinary: #2196f3;
    --color-senary: #009688;
}